
	body, html{ margin-top: -20px; margin-left: -10px; padding: 0px; }
	*{ font-size: 1em; }

	#logo{ float: left; margin-right: 4em; padding: 0px; margin-bottom: 0px; padding-top: 0px; }
	#logo+h1{ font-size: 3em; color: #208dd0; margin-bottom: 0px; padding-top: 40px;  padding-bottom: 0px; }
	#logo+h1+div{ background-color: #208dd0; margin: 0px; padding: 1em; margin-left: 4em; }
	#logo+h1+div a {
		width: 110px;
		height: 30px;
		display: inline-block;
		padding: 1em 0em 0 3em;
		font-size: 1.4em;
		text-decoration: none;
		margin: 0px 1em;
	}

	#logo+h1+div a:nth-child(1) {
		background-position: -0px 50%;
	}
	
	#logo+h1+div a:nth-child(2) {
		background-position: -520px 50%;
	}
	#logo+h1+div a:nth-child(3) {
		background-position: -1035px 50%;
	}
	#logo+h1+div a:nth-child(4) {
		background-position: -260px 50%;
	}
	#logo+h1+div a{ 
		background-color: #208dd0; 
	
		background: url("sprites2.png") no-repeat scroll
	}
	
	#mainwell {
		margin-left: 30px;
	}

	
	a[href$=".zip"]:hover{  
		color: yellow;
	}
	
	a:test-locallink(){
		color: red;
	}
	
	a[href$=".zip"]:-moz-any(*):-moz-any(*){
		-moz-transition: color 0.5s ease 0s, -moz-box-shadow 0.85s ease 0s;
		background: url("sprites2.png") no-repeat scroll -764px 50%, -moz-linear-gradient(#C0D000, #90A000) repeat scroll 0 0 transparent;
		border: 4px solid #809000;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 0 2px 5px #000000;
		display: block;
		font: bold 180%/1.2 Trebuchet,"Trebuchet MS",Arial,sans-serif;
		padding: 10px 10px 10px 65px;
		text-decoration: none;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
		width: 175px;
		height: 50px;
		float: right;
		color: #ffffff;
	}
	
	a[href$=".zip"] div{ font-size: 0.5em; }