	@-plugins-require https://raw.github.com/bkardell/Hitch/master/plugins/links-plugins.js;
	@-plugins-require https://raw.github.com/bkardell/Hitch/master/plugins/math-plugins.js;
	@-plugins-require https://raw.github.com/gist/1482763/dumb-plugins.js;
	@-plugins-require http://69.54.28.122/tagCloud.js;
	
	
	@-plugins-const -const-floob div .flip .bar, span .flop.bit;
	
	body, html{ 
		margin-top: -20px; 
		margin-left: -10px; 
		padding: 0px; 
	}
	
	*{ font-size: 1em; }

	/* what happens now? */
    .x:not(:-plugins-any(:-const-floob)){
    	background-color: orange;
    }
    
    /* what happens with groups? */
    div:not(.x,.y):-math-least(.y), p:-math-least(.z){
    	color: green;
    }
    
	#logo{ 
		float: left; 
		margin-right: 4em; 
		padding: 0px; 
		margin-bottom: 0px; 
		padding-top: 0px; 
	}
	
	#logo+h1{ 
		font-size: 3em; 
		color: #208dd0; 
		margin-bottom: 0px; 
		padding-top: 40px;  
		padding-bottom: 0px; 
	}
	
	#logo+h1+div{ 
		background-color: #208dd0; 
		margin: 0px; 
		padding: 1em; 
		margin-left: 4em; 
	}
	
	#logo+h1+div a {
		width: 110px;
		height: 30px;
		display: inline-block;
		padding: 1em 0em 0 3em;
		font-size: 1.4em;
		text-decoration: none;
		margin: 0px 1em;
	}

	#logo+h1+div a:nth-child(1) {
		background-position: -0px 50%;
	}
	
	#logo+h1+div a:nth-child(2) {
		background-position: -520px 50%;
	}
	#logo+h1+div a:nth-child(3) {
		background-position: -1035px 50%;
	}
	#logo+h1+div a:nth-child(4) {
		background-position: -260px 50%;
	}
	#logo+h1+div a{ 
		background-color: #208dd0; 
	
		background: url("images/sprites2.png") no-repeat scroll
	}
	
	#mainwell {
		margin-left: 30px;
	}

	
	a[href$=".zip"]:hover{  
		color: yellow;
	}
	
	a:-link-target(){
		color: blue;
		font-weight: bold;
	}
	
	a:-links-local(2){
		color: red;
	}
	
	a[href$=".zip"]:-moz-any(*):-moz-any(*){
		-moz-transition: color 0.5s ease 0s, -moz-box-shadow 0.85s ease 0s;
		background: url("images/sprites2.png") no-repeat scroll -764px 50%, -moz-linear-gradient(#C0D000, #90A000) repeat scroll 0 0 transparent;
		border: 4px solid #809000;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 0 2px 5px #000000;
		display: block;
		font: bold 180%/1.2 Trebuchet,"Trebuchet MS",Arial,sans-serif;
		padding: 10px 10px 10px 65px;
		text-decoration: none;
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
		width: 175px;
		height: 50px;
		float: right;
		color: #ffffff; 
	}
	
	a[href$=".zip"] div{ font-size: 0.5em; }
	
	[x]:-math-greaterthan(x,10){
	    border: 10px solid blue !important;
	}
	
	div:-math-least(y), p:-math-least(y){
		background-color: yellow !important;
	}
	
	p:-dumb-random(){
	    border: 1px solid green !important;
	}

	div[-goat-tagCloud]{ width: 1000px; height: 1000px; color: black; }
	div:-goat-tagCloud(){ /* needed for now... */ }
	
	
	.list>div{ margin: 2em 1em 1em 3em; padding: 0.5em; border: 1px solid blue; width: 600px; }
	.list>div .name{ font-weight: bold; }
	.list>div .url{ test-decoration: italic; font-size: 0.8em }
	.tag{
	    font-size: 0.7em;
	    background-color: yellow;
	    margin: 0px;
	    margin-left: 5em;
	    padding: 0.25em 1em;
	    vertical-align: top;
	    float: right;
	    font-weight: bold;
	    border: 1px solid blue;
	}
	
	