@import custom-pseudos(my_custom_predicates.--js);

p._1278370077  {
  background-color: orange;
}

p .foo._1278370077[bar]  {
  background-color: yellow;
}

/* same as rule above but whitespace before filter */

p .foo ._1278370077[bar]  {
  background-color: yellow;
}

/* same as rule above but whitespace after filter */

p .foo._1278370077 [bar]  {
  background-color: yellow;
}

#content ._-833897594  {
  background-color: blue;
}